.responsive-menu-wrap {
	display: none;
}

.mobile-social-header .social-header-wrap {
	float: none;
}
.mobile-social-header .social-header-wrap ul li.social-icon {
	float: none;
}
.mobile-social-header .social-header-wrap ul {
	padding: 0 20px;
	text-align: center;
}
.mobile-social-header .social-header-wrap ul li.social-icon {
    border:none;
    padding: 5px;
    }
.menu-is-horizontal.header-dark .mobile-social-header .social-header-wrap ul li.social-icon i,
.menu-is-horizontal.compact-on-bright .mobile-social-header .social-header-wrap ul li.social-icon i {
    color: #ffffff;
    font-size: 20px;
}
.mobile-social-header .social-header-wrap ul li.contact-text {
	float: none;
}
.menu-is-horizontal.header-dark .mobile-social-header .social-header-wrap ul li.contact-text a,
.menu-is-horizontal.header-dark .mobile-social-header .social-header-wrap ul li.contact-text,
.menu-is-horizontal.header-dark .mobile-social-header .social-header-wrap ul li.contact-text i,
.menu-is-horizontal.compact-on-bright .mobile-social-header .social-header-wrap ul li.contact-text a,
.menu-is-horizontal.compact-on-bright .mobile-social-header .social-header-wrap ul li.contact-text,
.menu-is-horizontal.compact-on-bright .mobile-social-header .social-header-wrap ul li.contact-text i {
	color:#fff;
}
.mobile-menu-toggle {
	background:#3e3e3e;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	position: relative;
	z-index: 100;
	padding-bottom: 20px;
}
.logo-mobile img {
    height: 28px;
    position: relative;
    top: 13px;
}
.mobile-menu-icon {
	position:absolute;
	float:right;
	left:0;
	top:0;
	height:48px;
	width:48px;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
	background:#000;
	color:#fff;
	z-index: 10;
}
.mobile-menu-icon {
	font-size: 18px;
}
.responsive-mobile-menu {
	background: #000;
	color:#fff;
	width:280px;
	padding-bottom: 50px;
	position: fixed;
	left:-280px;
	top:0;
	float:left;
	z-index: 999;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    height:100%;
}
.responsive-mobile-menu .mobile-menu {
	padding:10px 20px 60px;
}
.responsive-mobile-menu #s {
	margin:5px;
}
.responsive-mobile-menu #mobile-searchform {
	padding: 25px 0 0 35px;
	position: relative;
}
.responsive-mobile-menu #mobile-searchform i {
	color:#fff;
}
.responsive-mobile-menu #mobile-searchform input {
	width: 210px;
	text-indent: 20px;
	background:#333;
	color:#fff;
	font-weight: 400;
	font-size:11px;
    padding: 10px 0;
    border: 0;
}
.responsive-mobile-menu #mobile-searchbutton {
	position: absolute;
	top:23px;
	right:42px;
}
.responsive-mobile-menu nav ul {
	text-align: center;
}
.responsive-mobile-menu nav ul li a {
	padding-bottom:15px;
}
.responsive-mobile-menu nav ul li a {
	font-size:14px;
	text-transform: uppercase;
	color:#fff;
	letter-spacing: 3px;
	display:block;
	font-weight: 400;
	padding: 10px 20px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.responsive-mobile-menu nav ul li ul.children-depth-0 a {
	font-size:12px;
	font-weight: 600;
	margin-top:0;
	padding:2px 20px;
	color:#a6a6a6;
	background:none;
}
.responsive-mobile-menu nav li.menu-item-has-children a {
	font-weight: bold;
}
.responsive-mobile-menu nav ul.sub-menu li a {
	font-size:11px;
	color:#a6a6a6;
	letter-spacing: 1px;
	font-weight: 400;
	display:block;
	margin-top:0;
	border-top:0;
}
.responsive-mobile-menu .megamenu-textbox {
	font-size:11px;
	line-height:20px;
	color:#eee;
	padding: 2px 20px 20px 20px;
}
.responsive-mobile-menu h6 {
	color:#fff;
	padding:0 0 10px 20px;
	margin:0;
	font-size:14px;
	margin-top:20px;
}
.responsive-mobile-menu nav ul.sub-menu {
}
.responsive-mobile-menu nav li {
	display:block;
}
.responsive-mobile-menu nav ul li a:hover,
.responsive-mobile-menu nav li.menu-item-has-children a:hover {
	color:#fff;
}

.responsive-mobile-menu .social-header-wrap ul li a:hover i,
.responsive-mobile-menu .social-header-wrap ul li a:hover {
    color: #fff;
}