/* Main Menu */
.mainmenu-navigation {
}
	
.sf-menu-center {
	}


.homemenu { 
	padding:		0;
	margin:			0;
	text-align: center;
	height: 60px;
	}

	.homemenu ul ul li:first-child {
		}
	.homemenu ul ul li:last-child {
		}
		
	.homemenu ul ul li:first-child a {
		}
	.homemenu ul ul li:last-child a {
		}
		
.homemenu ul ul li:first-child:after {
	}
	.homemenu ul ul ul li:first-child:after {
		border: none;
		}
		.homemenu ul ul ul ul li:first-child:after {
			border:none;
			}
			.homemenu ul ul ul ul ul li:first-child:after {
				border:none;
				}

.homemenu a { color:#666; text-decoration:none;}
.homemenu ul li {
	}
	
.homemenu ul ul li a {
	letter-spacing:0.8px;
	}
	.homemenu ul ul li a:last-child {
		padding-right:0;
	}
.homemenu ul li a {
	padding:0;
}
	
.homemenu ul ul li a {
	border-right:none;
	border-top:none;
}
.homemenu ul ul li:hover>a {

}
.homemenu ul ul {
-webkit-box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	position: relative;
}
.homemenu ul ul li{
	
	}
.homemenu ul ul li:hover {	 }
.homemenu ul ul {
	padding:20px;
}
.homemenu .sf-menu .mega-item .children-depth-0,
.homemenu ul ul {
	background: #4A4A4A;
}
.homemenu .sf-menu .mega-item .children-depth-0,
.homemenu ul ul {
	border-bottom: 3px solid #24BEE8;
}
.homemenu .sf-menu .mega-item .children-depth-0 ul,
.homemenu ul ul ul{
	border-bottom: none;
}
.homemenu ul ul li a {
	border-bottom: 1px solid rgba(171, 171, 171, 0.11);
	color: #DDDDDD;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 19px;
	padding: 5px 10px;
	text-transform: none;
	}
	.homemenu .mega-item .children li a {
		margin-right: 30px;
	}
	.homemenu ul ul li:hover>a {
		color:#fff;
		background:rgba(0,0,0,0.3);
	}
.homemenu ul ul li:last-child > a {
	border-bottom:none;
	}
.homemenu ul ul ul li a {
	}
.homemenu > ul {
}
/* Menu main titles */
.homemenu ul li a {
	color: #fff;
    display: block;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
	}
	.homemenu ul li:first-child a {
		margin-left: 0;
	}
	.homemenu ul li a:hover {
	}
	.homemenu ul li a {
		border:0;
	}
	.homemenu ul li  {
	}
	.homemenu ul li:last-child {
	}
	.homemenu ul li ul li:last-child {
		border-right: 0;
	}
	.homemenu ul li ul li {
		border:0;
	}

.homemenu li.current-menu-item a,
.homemenu li.current-menu-parent a,
.homemenu li.current-menu-ancestor a {
	outline:		0;
}
/* Menu main titles End style */
.homemenu li.current-menu-item a {
	outline:		0;
	position:relative;
}
/*.homemenu li.current-menu-item a:before,
.homemenu li.current-menu-ancestor a:before {
	content: " ";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}*/

.homemenu .sub-menu li.current-menu-item a:before,
.homemenu .sub-menu li.current-menu-ancestor a:before {
	background:none;
	}
.homemenu .sub-menu li.current-menu-item {
	}
.homemenu .sub-menu li.current-menu-item {
	}
	.homemenu .sub-menu li.current-menu-item a {
		color: #fff;
	}
	.homemenu .sub-menu li.current-menu-item .sub-menu {
	}
	.homemenu .sub-menu li.current-menu-item:after {
		position: relative;
		height: auto;
		top: auto;
	}
	
	.homemenu .sf-menu ul {
		position:		absolute;
		z-index: 200;
		top:			-999em;
		width:			190px; /* left offset of submenus need to match (see below) */
		text-align:		left;
	}

	.homemenu .sf-menu ul li {
		width:			100%;
	}
	.homemenu .sf-menu li:hover {
		visibility:		inherit; /* fixes IE7 'sticky bug' */
	}
	.homemenu .sf-menu li {
		float:			left;
		position:		relative;
	}
	.homemenu .sf-menu a {
		display:		block;
		position:		relative;
	}
	
	
	.homemenu .sf-menu li:hover ul,
	.homemenu .sf-menu li.sfHover ul {
		right:			0;
		top:			42px; /* match top ul list item height */
	}
	.homemenu ul.sf-menu li:hover li ul,
	.homemenu ul.sf-menu li.sfHover li ul {
		top:			-999em;
	}
	.homemenu ul.sf-menu li li:hover ul,
	.homemenu ul.sf-menu li li.sfHover ul {
		left:			19.3em; /* match ul width */
		top:			0;
	}
	.homemenu ul.sf-menu li li:hover li ul,
	.homemenu ul.sf-menu li li.sfHover li ul {
		top:			-999em;
	}
	.homemenu ul.sf-menu li li li:hover ul,
	.homemenu ul.sf-menu li li li.sfHover ul {
		left:			19.3em; /* match ul width */
		top:			0;
	}

	.homemenu .sf-menu a {
		text-decoration:none;
		padding: 0 0 40px 0;
		transition: all 0.2s;
		-moz-transition: all 0.2s;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		
	}
	.homemenu .sf-menu li {
		margin-left: 25px;
	}
	.homemenu .sf-menu li li {
		margin-left: 0;
	}

	.homemenu .sf-menu li.menu-item a {
		position: relative;
	}
	.homemenu .sf-menu li.menu-item a:before {
		position: absolute;
		content: " ";
		bottom: 20px;
		width: 0;
	    border-bottom: 2px solid #fff;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	.homemenu .sf-menu li.menu-item li a:before {
		border:0;
	}
	.homemenu .sf-menu li.menu-item:hover a:before {
		width: 100%;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	.homemenu .sf-menu ul li a {
		padding: 6px 10px 5px;
		position: relative;
	}
	.homemenu .sf-menu ul li a:after {
	}
	.homemenu .sf-menu ul li a:hover:after {
	}
	.homemenu .sf-menu li {
	}
	.homemenu .sf-menu li ul li {
		border-left:0;
	}
	.homemenu .sf-menu li li:hover, .sf-menu li li.sfHover,
	.homemenu .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
		outline:		0;
	}
	/*** shadows for all but IE6 ***/
	.homemenu .sf-shadow ul {

	}
	.homemenu .sf-shadow ul.sf-shadow-off {
		background: transparent;
	}

	.homemenu .sf-menu {
		display:inline-block;
	}

.homemenu ul li:hover {
}

.homemenu ul.sf-menu li li:hover ul,
.homemenu ul.sf-menu li li.sfHover ul {	border-radius: 0;
	left: 212px; /* match ul width */
	top: -20px;
}
.homemenu ul.sf-menu li li li:hover ul,
.homemenu ul.sf-menu li li li.sfHover ul {
	left: 212px; /* match ul width */
	top: -20px;
}

.homemenu .sf-menu li a:hover {
}
.homemenu .sf-menu li li a:hover {
}


/*** arrows (for all except IE7) **/
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
}
.sf-arrows .children .sf-with-ul:after {

}
.header-menu-wrap .sf-arrows .sf-with-ul:after {

}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	font-family: 'FontAwesome';
	content: "\f054";
	font-size: 7px;
	color:#fff;
    right: 4px;
    top: 5px;
    position: absolute;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
}


.homemenu .sf-menu ul.sub-menu li {
	position: relative;
	z-index: 10;
}

.homemenu li.current-menu-item a:before,
.homemenu li.current-menu-ancestor a:before {
	background: #fff;
}
.homemenu li.current-menu-item ul li a:before,
.homemenu li.current-menu-ancestor ul li a:before {
background: none;
}

.homemenu .sf-menu li.mega-item {
	position: static;
}
.homemenu .sf-menu li.mega-item ul.children {
	width:auto;
	left:0;
	top:108px;
	display: none;
}
.homemenu .sf-menu li.mega-item ul.children ul {
	display: block;
}
.homemenu .sf-menu .mega-item .children-depth-0 h6 {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-indent: 10px;
	color: #fff;
	margin-bottom: 15px;
}
.homemenu .sf-menu .mega-item .children-depth-0 .no-title h6 {
	display:none;
}
.homemenu .sf-menu .mega-item .children-depth-0 .no-title {
	padding-top:30px;
}
.homemenu li.mega-four .children li.menu-item {
	display: inline-block;
	width:25%;
	position: relative;
	float: left;
}
.homemenu li.mega-three .children li.menu-item {
	display: inline-block;
	width:33%;
	position: relative;
	float: left;
}
.homemenu li.mega-two .children li.menu-item {
	display: inline-block;
	width:100%;
	position: relative;
	float: left;
}
.homemenu li.mega-one .children li.menu-item {
	display: inline-block;
	width:100%;
	position: relative;
	float: left;
}
.homemenu li.mega-one .children div ul.children,
.homemenu li.mega-two .children div ul.children,
.homemenu li.mega-three .children div ul.children,
.homemenu li.mega-four .children div ul.children {
	width:auto;
	position: relative;
	top:0;
}
.homemenu li.mega-four .children div ul.children li {
	width:100% !important;
}
.homemenu .sf-menu .mega-item .children-depth-1 {
	padding: 0;
}
.homemenu .sf-menu .megamenu-textbox {
    color: #B0B0B0;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 22px;
    margin-bottom: 10px;
    padding-right: 50px;
    padding-left: 10px;
}
.homemenu ul ul ul.children {
-webkit-box-shadow:  none;
        box-shadow:  none;
}
.homemenu .sf-menu .mega-item .children-depth-0 {
	padding: 70px;
	display:block;
}
.homemenu .sf-menu .mega-item .children-depth-0 ul {
	background: none;
}

.homemenu .sf-menu .sub-menu a {
	padding: 10px 0;
}

/*
Header Menu
*/

.header-menu-wrap ul {
	float:left;
	list-style: none;
	font-size:11px;
	letter-spacing: 0.5px;
	font-weight: 400;
	margin-top:11px;
	position: absolute;
	z-index: 40;
}

.header-menu-wrap li {
	display:inline-block;
	margin-left:15px;
	position: relative;
}
.header-menu-wrap li a {
	color: #B5B5B5;
}
.header-menu li a:hover {
	color:#000;
		transition: all 0.2s;
		-moz-transition: all 0.2s;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
}
.header-menu li:first-child{
	margin-left: 0;
}
.header-menu-wrap ul ul li {
	display:block;
	margin:0;
	background:#eee;
	padding: 6px 20px;
	width:200px;
	border-bottom: 1px solid #e0e0e0;
}
.header-menu-wrap ul ul {

}
.header-menu-wrap .sub-menu{
 display:none;
}
