
/*
Vertical menu
*/
.logo-theme-light {
	display: none;
}
.logo-theme-dark {
	display: block;
}

.header-bright .logo-theme-dark,
.compact-on-dark .logo-theme-dark {
	display: block;
}
.header-bright .logo-theme-light,
.compact-on-dark .logo-theme-light {
	display: none;
}
.header-search {
  margin:0;
}

.login-socials-wrap {
  padding:0;
}

.vertical-logo-section {
  padding: 80px 30px;
}
.vertical-menu-wrap {
  padding: 30px 30px 20px 30px;
  background-color: #FCFCFC;
}
.vertical-menu-footer {
  padding: 30px;
}
.logo img {
	top:0;
  image-rendering: crisp-edges;
}

.vertical-sidemenu-wrap {
    display: block;
    float: left;
    height: 100%;
    position: fixed;
    width: 300px;
    background:#fff;
    overflow-y: scroll;
    border-right:1px solid #F4F4F4;
    z-index: 99;
}
.vertical-bar-wrap {
}
.container-wrapper {
    margin-left: 300px;
    overflow: hidden;
}
.header-compact .portfolio-nav-wrap {
  bottom: 80px;
}

.no-title-background .title-container,
.header-compact .title-container-wrap {
  padding-top: 30px;
}
.header-compact .bt-menu-trigger {
  top:0;
}
/*
Socials
*/
.social-header-wrap ul li.social-icon i,
.social-header-wrap ul li.contact-text a,
.social-header-wrap ul li.contact-text i {
    color: #777;
}
.social-header-wrap ul li a:hover i,
.social-header-wrap ul li a:hover {
    color: #000;
}
.social-header-wrap ul li.contact-text {
  float: none;
  margin:15px 0 0 0;
}
.social-header-wrap ul li.social-icon {
	padding: 0 10px;
  float: none;
}
.social-header-wrap {
	float: none;
	text-align: center;
	margin-top:30px;
}
.social-header-wrap ul {
	display: inline-block;
}
.social-header-wrap a {
  text-align: center;
}
/*
Search icon
*/
.header-search i {
    color: #000000;
}
.header-search {
	display: block;
	float: none;
	top:0;
	text-align: center;
}


ul.mtree {
  margin-left: 0;
}
ul.mtree ul {
  margin-left: 1em;
}
ul.mtree li {
  list-style: none;
}
ul.mtree a {
	display: block;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}
ul.mtree li.mtree-node > a {
  font-weight: 600;
}

ul.mtree a {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

ul.mtree {
}
ul.mtree ul {
  margin-left: 0;
}
ul.mtree ul > li {
  font-size: .9em;
}
ul.mtree li.mtree-node {
  position: relative;
}
ul.mtree li.mtree-node > a:before {
	color: #8b8b8b;
	font-size: 16px;
	font-weight: 100;
	position: absolute;
	right: 0;
	top: -6px;
}
ul.mtree li.mtree-open > a:before {
  content: '-';
  top: -8px;
}
ul.mtree li.mtree-closed > a:before {
  content: '+';
}
ul.mtree ul > li:first-child {
  margin-top: 1px;
}
ul.mtree li.mtree-open > a:hover,
ul.mtree li.mtree-open > a {
  color:#24bee8;
}
ul.mtree li.mtree-active > a:hover,
ul.mtree li.mtree-active > a {
  color: #24bee8;
}
ul.mtree li > a:hover {
  color:#000;
}
ul.mtree li.mtree-node > ul > li:last-child {
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
ul.mtree li.mtree-node:last-child > ul > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
ul.mtree a {
  padding: 0 0px 10px 0;
  color: #595959;
}
ul.mtree a:hover {
  color:#000;
}
ul.mtree li li > a {
  padding-left: 1.6em;
}
ul.mtree li li li > a {
  padding-left: 2.4em;
}
ul.mtree li li li li > a {
  padding-left: 3.2em;
}
ul.mtree li li li li li > a {
  padding-left: 4em;
}



