@media only screen and (max-width: 1750px) {
	.menu-is-vertical.theme-boxed .container-boxed,
	.menu-is-vertical.theme-boxed .top-bar-content,
	.menu-is-vertical.theme-boxed .top-bar-wrap-boxed,
	.menu-is-vertical.theme-boxed .footer-container-wrap,
	.menu-is-vertical.theme-boxed #copyright {
		width: 1350px;
	}
	#s {
		width:83.8%;
	}

	/*	WooCommerce */
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
	    width: 45%;
	}
}
@media only screen and (max-width: 1650px) {

	.menu-is-vertical.theme-boxed .container-boxed,
	.menu-is-vertical.theme-boxed .top-bar-content,
	.menu-is-vertical.theme-boxed .top-bar-wrap-boxed,
	.menu-is-vertical.theme-boxed .footer-container-wrap,
	.menu-is-vertical.theme-boxed #copyright {
		width: 1100px;
	}

	.menu-is-vertical .container,
	.menu-is-vertical .entry-title,
	.menu-is-vertical .fullpage-item,
	.menu-is-vertical .footer-container,
	.menu-is-vertical .outer-header-wrap,
	.menu-is-vertical .portfolio-container,
	.menu-is-vertical .portfolio-header-wrap,
	.menu-is-vertical .top-bar-wrap-fullwidth,
	.menu-is-vertical.page-template-template-blank-php .mtheme-supercell,
	.menu-is-vertical.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.menu-is-vertical.edge-to-edge .mtheme-supercell,
	.menu-is-vertical.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.menu-is-vertical.edge-to-edge .entry-portfolio-content,
	.menu-is-vertical .always-center,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.menu-is-vertical.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 90%;
		}

	.menu-is-vertical.edge-to-edge .mtheme-supercell.boxed-column,
	.menu-is-vertical .portfolio-header-wrap.edge-to-edge-column,
	.menu-is-vertical.page-template-template-blank-php .container,
	.menu-is-vertical.page-template-template-fullpage-php .container,
	.menu-is-vertical.edge-to-edge .mtheme-supercell,
	.menu-is-vertical.edge-to-edge .mtheme-supercell,
	.menu-is-vertical.edge-to-edge .container,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.menu-is-vertical .mtheme-supercell.fullwidth-column {
		width: auto;
	}
	.menu-is-vertical .mtheme-modular-column {
		margin-left:0 !important;
		margin-right:0 !important;
	}
	#s {
		width:80.8%;
	}

	/*	WooCommerce */
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
	    width: 44%;
	}
}

@media only screen and (max-width: 1400px) {

	.menu-is-vertical.theme-boxed .container-boxed,
	.menu-is-vertical.theme-boxed .top-bar-content,
	.menu-is-vertical.theme-boxed .top-bar-wrap-boxed,
	.menu-is-vertical.theme-boxed .footer-container-wrap,
	.menu-is-vertical.theme-boxed #copyright {
		width: auto;
	}

	.menu-is-horizontal.theme-boxed .container-boxed,
	.menu-is-horizontal.theme-boxed .top-bar-content,
	.menu-is-horizontal.theme-boxed .top-bar-wrap-boxed,
	.menu-is-horizontal.theme-boxed .footer-container-wrap,
	.menu-is-horizontal.theme-boxed #copyright,
	.menu-is-horizontal.header-compact.theme-boxed .outer-wrap  {
		width: 1190px;
	}

	.container,
	.entry-title,
	.fullpage-item,
	.footer-container,
	.outer-header-wrap,
	.portfolio-container,
	.portfolio-header-wrap,
	.top-bar-wrap-fullwidth,
	.page-template-template-blank-php .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.page-template-template-fullpage .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .mtheme-supercell,
	.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .entry-portfolio-content,
	.always-center,
	.page-template-template-blank-php .mtheme-supercell.boxed-column.divided-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 1100px;
		}

	.edge-to-edge .mtheme-supercell.boxed-column,
	.portfolio-header-wrap.edge-to-edge-column,
	.edge-to-edge .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.mtheme-supercell.fullwidth-column {
		width: auto;
	}

	.menu-is-vertical .mtheme-modular-column {
		margin-left:0 !important;
		margin-right:0 !important;
	}

}
@media only screen and (max-width: 1200px) {

	.menu-is-vertical.theme-boxed .container-boxed,
	.menu-is-vertical.theme-boxed .top-bar-content,
	.menu-is-vertical.theme-boxed .top-bar-wrap-boxed,
	.menu-is-vertical.theme-boxed .footer-container-wrap,
	.menu-is-vertical.theme-boxed #copyright {
		width: auto;
	}

	.menu-is-horizontal.theme-boxed .container-boxed,
	.menu-is-horizontal.theme-boxed .top-bar-content,
	.menu-is-horizontal.theme-boxed .top-bar-wrap-boxed,
	.menu-is-horizontal.theme-boxed .footer-container-wrap,
	.menu-is-horizontal.theme-boxed #copyright,
	.menu-is-horizontal.header-compact.theme-boxed .outer-wrap {
		width: 1000px;
	}

	.container,
	.entry-title,
	.fullpage-item,
	.footer-container,
	.outer-header-wrap,
	.portfolio-container,
	.portfolio-header-wrap,
	.top-bar-wrap-fullwidth,
	.page-template-template-blank-php .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.page-template-template-fullpage .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .mtheme-supercell,
	.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .entry-portfolio-content,
	.always-center,
	.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 920px;
		}

	.edge-to-edge .mtheme-supercell.boxed-column,
	.portfolio-header-wrap.edge-to-edge-column,
	.edge-to-edge .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.mtheme-supercell.fullwidth-column {
		width: auto;
	}

	/* Vertical Menu */

	.menu-is-vertical .container,
	.menu-is-vertical .entry-title,
	.menu-is-vertical .fullpage-item,
	.menu-is-vertical .footer-container,
	.menu-is-vertical .outer-header-wrap,
	.menu-is-vertical .portfolio-container,
	.menu-is-vertical .portfolio-header-wrap,
	.menu-is-vertical .top-bar-wrap-fullwidth,
	.menu-is-vertical.page-template-template-blank-php .mtheme-supercell,
	.menu-is-vertical.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.menu-is-vertical.edge-to-edge .mtheme-supercell,
	.menu-is-vertical.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.menu-is-vertical.edge-to-edge .entry-portfolio-content,
	.menu-is-vertical .always-center,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.menu-is-vertical.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 95%;
		}

	.menu-is-vertical.edge-to-edge .mtheme-supercell.boxed-column,
	.menu-is-vertical .portfolio-header-wrap.edge-to-edge-column,
	.menu-is-vertical.page-template-template-blank-php .container,
	.menu-is-vertical.page-template-template-fullpage-php .container,
	.menu-is-vertical.edge-to-edge .mtheme-supercell,
	.menu-is-vertical.edge-to-edge .container,
	.menu-is-vertical.page-template-template-blank-php .mtheme-supercell.boxed-column,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.menu-is-vertical .mtheme-supercell.fullwidth-column {
		width: auto;
	}
	.menu-is-vertical .mtheme-modular-column {
		margin-left:0 !important;
		margin-right:0 !important;
	}

	.vertical-sidemenu-wrap {
		width: 250px;
	}
	.menu-is-vertical .container-wrapper {
		margin-left: 250px;
	}

	/* Vertical Menu Photo Card */
	.menu-is-vertical .photocard-contents-inner {
		padding: 30px !important;
	}

	.menu-is-horizontal .mtheme-modular-column,
	.menu-is-vertical .mtheme-modular-column {
		margin-left:0 !important;
		margin-right:0 !important;
	}

	.homemenu ul li a {
		font-size: 11px;
		letter-spacing: 0.5px;
	}

	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="text"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="url"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="email"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="tel"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="number"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="password"],
	.entry-content .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_last_name span.name_last input[type="text"] {
		width: 90% !important
	}

}


/* #Tablet (Landscape)
================================================== */
@media only screen and (max-width: 1024px) {

	.menu-is-vertical.theme-boxed .container-boxed,
	.menu-is-vertical.theme-boxed .top-bar-content,
	.menu-is-vertical.theme-boxed .top-bar-wrap-boxed,
	.menu-is-vertical.theme-boxed .footer-container-wrap,
	.menu-is-vertical.theme-boxed #copyright {
		width: auto;
	}


	.menu-is-horizontal.theme-boxed .container-boxed,
	.menu-is-horizontal.theme-boxed .top-bar-content,
	.menu-is-horizontal.theme-boxed .top-bar-wrap-boxed,
	.menu-is-horizontal.theme-boxed .footer-container-wrap,
	.menu-is-horizontal.theme-boxed #copyright {
		width: auto;
	}

	/* Vertical Menu Layout */

	.menu-is-vertical .container,
	.menu-is-vertical .entry-title,
	.menu-is-vertical .fullpage-item,
	.menu-is-vertical .footer-container,
	.menu-is-vertical .outer-header-wrap,
	.menu-is-vertical .portfolio-container,
	.menu-is-vertical .portfolio-header-wrap,
	.menu-is-vertical .top-bar-wrap-fullwidth,
	.menu-is-vertical.page-template-template-blank-php .mtheme-supercell,
	.menu-is-vertical.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.menu-is-vertical.edge-to-edge .mtheme-supercell,
	.menu-is-vertical.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.menu-is-vertical.edge-to-edge .entry-portfolio-content,
	.menu-is-vertical .always-center,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.menu-is-vertical.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 90%;
		}

	/* Horizontal Menu Layout */

	.menu-is-vertical.edge-to-edge .mtheme-supercell.boxed-column,
	.menu-is-vertical .portfolio-header-wrap.edge-to-edge-column,
	.menu-is-vertical.page-template-template-blank-php .container,
	.menu-is-vertical.page-template-template-fullpage-php .container,
	.menu-is-vertical.edge-to-edge .mtheme-supercell,
	.menu-is-vertical.edge-to-edge .container,
	.menu-is-vertical.page-template-template-blank-php .mtheme-supercell.boxed-column,
	.menu-is-vertical.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.menu-is-vertical .mtheme-supercell.fullwidth-column {
		width: auto;
	}
	.menu-is-vertical .mtheme-modular-column {
		margin-left:0 !important;
		margin-right:0 !important;
	}
	.vertical-sidemenu-wrap {
		display: none;
	}
	.menu-is-vertical .container-wrapper,
	.menu-is-vertical.theme-boxed .footer-container-wrap,
	.menu-is-vertical.theme-boxed #copyright {
		margin-left: 0;
	}

	.container,
	.entry-title,
	.fullpage-item,
	.footer-container,
	.outer-header-wrap,
	.portfolio-container,
	.portfolio-header-wrap,
	.top-bar-wrap-fullwidth,
	.page-template-template-blank-php .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.page-template-template-fullpage .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .mtheme-supercell,
	.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .entry-portfolio-content,
	.always-center,
	.page-template-template-blank-php .mtheme-supercell.boxed-column.divided-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 920px;
		}

	.edge-to-edge .mtheme-supercell.boxed-column,
	.portfolio-header-wrap.edge-to-edge-column,
	.edge-to-edge .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.mtheme-supercell.fullwidth-column {
		width: auto;
	}


	/*********************/
	/****** Header *******/
	/*********************/

	/* Turn off menu and trigger related adjustments */
	.logo-menu-wrap {
		display: none;
	}
	.outer-header-wrap {
		border:0;
	}
	.title-container {
		padding: 35px 0;
	}
	.header-compact .title-container-wrap {
		padding-top: 0;
	}

	/* Display Responsive Menu */
	.responsive-menu-wrap {
	    display: block;
	}
	.outer-wrap {
		display: none;
	}
	.toggle-menu-trigger,
	.header-compact .toggle-menu-trigger {
		top: 0;
	}


	.header-dark .toggle-menu-trigger span,
	.header-dark .toggle-menu-trigger span:before,
	.header-dark .toggle-menu-trigger span:after,
	.compact-on-bright .toggle-menu-trigger span,
	.compact-on-bright .toggle-menu-trigger span:before,
	.compact-on-bright .toggle-menu-trigger span:after {
		background-color:#fff;
	}

	.container-wrapper.container-boxed {
		margin-top:0;
		margin-bottom:0;
	}
	.header-compact.header-is-off.no-title-background .container-fullwidth {
	    padding-top: 0;
	}


	/****************************/
	/****** Page Elements *******/
	/****************************/

	/* Hero Image */

	.hero-text-wrap .hero-title {
	    font-size: 40px;
	    line-height: 50px;
	}

	/* Photo Card */
	.photocard-image-container {
		position: static;
		min-height: 500px;
	}
	.photocard-image-wrap.column-float-right,
	.photocard-image-wrap.column-float-left,
	.photocard-image-wrap,
	.photocard-image-wrap img {
		position: static;
		width: 100%;
	}
	.photocard-image-wrap.column-float-right,
	.photocard-image-wrap.column-float-left {
		width: 100%;
		float:none;
	}
	.photocard-contents-inner {
    	padding: 60px;
	}

	/* Columns */
	.mtheme-block,
	.mtheme-supercell .mtheme-block,
	.column-setter .mtheme-block,
	.column-setter .mtheme-block .mtheme-block,
	.column-half,
	.mtheme-supercell .span2,
	.mtheme-supercell .span3,
	.mtheme-supercell .span4,
	.mtheme-supercell .span5,
	.mtheme-supercell .span6,
	.mtheme-supercell .span7,
	.mtheme-supercell .span8,
	.mtheme-supercell .span9,
	.mtheme-supercell .span10,
	.mtheme-supercell .span11,
	.mtheme-supercell .span12 {
		width: 100%;
		float:none;
	}
	.mtheme-following-cell,
	.column-setter.following-column {
		margin-left: 0;
	}

	.service-content,
	.service-item {
		margin-bottom: 30px;
	}

	.menu-is-horizontal .mtheme-modular-column,
	.menu-is-vertical .mtheme-modular-column {
		margin-left:0 !important;
		margin-right:0 !important;
	}

	/*Service Column*/
	.service-column {
	    text-align: center;
	}
	.service-image {
    	width: 380px;
	}

	#s {
		width:88.8%;
	}

	/*	WooCommerce */
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
	    width: 44%;
	}

	/* Demo panel off */
	#demopanel {
		display: none;
	}

	.fotorama__nav-wrap {
		display: none !important;
	}

	.mobile-menu-onwhite  .toggle-menu-trigger span,
	.mobile-menu-onwhite  .toggle-menu-trigger span:before,
	.mobile-menu-onwhite  .toggle-menu-trigger span:after {
	    background-color: #000000;
	}
}


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.menu-is-vertical.theme-boxed .container-boxed,
	.menu-is-vertical.theme-boxed .top-bar-content,
	.menu-is-vertical.theme-boxed .top-bar-wrap-boxed,
	.menu-is-vertical.theme-boxed .footer-container-wrap,
	.menu-is-vertical.theme-boxed #copyright {
		width: auto;
	}

	.menu-is-horizontal.theme-boxed .container-boxed,
	.menu-is-horizontal.theme-boxed .top-bar-content,
	.menu-is-horizontal.theme-boxed .top-bar-wrap-boxed,
	.menu-is-horizontal.theme-boxed .footer-container-wrap,
	.menu-is-horizontal.theme-boxed #copyright {
		width: auto;
	}

	.container,
	.entry-title,
	.fullpage-item,
	.footer-container,
	.outer-header-wrap,
	.portfolio-container,
	.portfolio-header-wrap,
	.top-bar-wrap-fullwidth,
	.page-template-template-blank-php .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.page-template-template-fullpage .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .mtheme-supercell,
	.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .entry-portfolio-content,
	.always-center,
	.page-template-template-blank-php .mtheme-supercell.boxed-column.divided-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 700px;
		}

	.edge-to-edge .mtheme-supercell.boxed-column,
	.portfolio-header-wrap.edge-to-edge-column,
	.edge-to-edge .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.mtheme-supercell.fullwidth-column {
		width: auto;
	}


	/*********************/
	/****** Header *******/
	/*********************/

	/* Turn off menu and trigger related adjustments */
	.logo-menu-wrap {
		display: none;
	}
	.outer-header-wrap {
		border:0;
	}
	.title-container {
		padding: 35px 0;
	}
	.header-compact .title-container-wrap {
		padding-top: 0;
	}

	.container-wrapper.container-boxed {
		margin-top:0;
		margin-bottom:0;
	}
	.header-compact.header-is-off.no-title-background .container-fullwidth {
	    padding-top: 0;
	}

	/* Display Responsive Menu */
	.responsive-menu-wrap {
	    display: block;
	}
	.outer-wrap {
		display: none;
	}
	.toggle-menu-trigger,
	.header-compact .toggle-menu-trigger {
		top: 0;
	}


	.header-dark .toggle-menu-trigger span,
	.header-dark .toggle-menu-trigger span:before,
	.header-dark .toggle-menu-trigger span:after,
	.compact-on-bright .toggle-menu-trigger span,
	.compact-on-bright .toggle-menu-trigger span:before,
	.compact-on-bright .toggle-menu-trigger span:after {
		background-color:#fff;
	}

	/****************************/
	/****** Page Elements *******/
	/****************************/

	/* Hero Image */

	.hero-text-wrap .hero-title {
	    font-size: 40px;
	    line-height: 50px;
	}

	/* Photo Card */
	.photocard-image-container {
		position: static;
		min-height: 500px;
	}
	.photocard-image-wrap.column-float-right,
	.photocard-image-wrap.column-float-left,
	.photocard-image-wrap,
	.photocard-image-wrap img {
		position: static;
		width: 100%;
	}
	.photocard-image-wrap.column-float-right,
	.photocard-image-wrap.column-float-left {
		width: 100%;
		float:none;
	}
	.photocard-contents-inner {
    	padding: 60px;
	}

	/* Columns */
	.mtheme-block,
	.mtheme-supercell .mtheme-block,
	.column-setter .mtheme-block,
	.column-setter .mtheme-block .mtheme-block,
	.column-half,
	.mtheme-supercell .span2,
	.mtheme-supercell .span3,
	.mtheme-supercell .span4,
	.mtheme-supercell .span5,
	.mtheme-supercell .span6,
	.mtheme-supercell .span7,
	.mtheme-supercell .span8,
	.mtheme-supercell .span9,
	.mtheme-supercell .span10,
	.mtheme-supercell .span11,
	.mtheme-supercell .span12 {
		width: 100%;
		float:none;
	}
	.mtheme-following-cell,
	.column-setter.following-column {
		margin-left: 0;
	}

	.service-content,
	.service-item {
		margin-bottom: 30px;
	}


	/* Footer */

	#footer .footer-column {
		width: auto;
		float: none;
		margin: 0;
	}
	#footer .description,
	#footer .textwidget {
		margin-right: 0;
	}

	/* Sidebar */
	.sidebar-wrap, .sidebar-wrap-single {
		width: auto;
		float:none;
		margin-top:40px;
	}
	.grid-list-portfolio-related ul li {
		width: 10%;
	}
	/* Two Column */
	.two-column,
	.edge-to-edge .portfolio-header-left.two-column {
		width: auto;
		float:none;
	}

	/* Portfolio Grids */

	.ajax-gallery-navigation {
		float:none;
		margin-bottom: 20px;
	}

	.gridblock-two .gridblock-element,
	.gridblock-three .gridblock-element,
	.gridblock-four .gridblock-element {
		width: 47.7%;
	}

	.thumbnail-gutter-nospace.gridblock-two .gridblock-element,
	.thumbnail-gutter-nospace.gridblock-three .gridblock-element,
	.thumbnail-gutter-nospace.gridblock-four .gridblock-element,
	.portfolio-gutter-nospace.gridblock-two .gridblock-element,
	.portfolio-gutter-nospace.gridblock-three .gridblock-element,
	.portfolio-gutter-nospace.gridblock-four .gridblock-element {
		width: 50%;
	}

	/* Sticky Sidebar */
	.portfolio-header-right {
		width: auto;
		margin-top: 30px;
	}

	.menu-is-horizontal .mtheme-modular-column,
	.menu-is-vertical .mtheme-modular-column {
		margin-left:0 !important;
		margin-right:0 !important;
	}

	/* Callout Button */
	.callout .first-half,
	.callout .second-half {
		width: auto;
		float: none;
		position: static;
		margin: 0;
		text-align: center;
	}
	.callout .second-half {
		margin-top:20px;
		text-align: center;
	}
	.callout .callout-button {
		float: none;
	}

	/*Service Column*/
	.service-column {
	    text-align: center;
	}
	.service-image {
    	width: 380px;
	}

	#s {
		width:92.8%;
	}

	/*	WooCommerce */
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
	    width: 41%;
	}

	/* Demo panel off */
	#demopanel {
		display: none;
	}

	.fotorama__nav-wrap {
		display: none !important;
	}

	.mobile-menu-onwhite  .toggle-menu-trigger span,
	.mobile-menu-onwhite  .toggle-menu-trigger span:before,
	.mobile-menu-onwhite  .toggle-menu-trigger span:after {
	    background-color: #000000;
	}

}


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

	.menu-is-vertical.theme-boxed .container-boxed,
	.menu-is-vertical.theme-boxed .top-bar-content,
	.menu-is-vertical.theme-boxed .top-bar-wrap-boxed,
	.menu-is-vertical.theme-boxed .footer-container-wrap,
	.menu-is-vertical.theme-boxed #copyright {
		width: auto;
	}

	.menu-is-horizontal.theme-boxed .container-boxed,
	.menu-is-horizontal.theme-boxed .top-bar-content,
	.menu-is-horizontal.theme-boxed .top-bar-wrap-boxed,
	.menu-is-horizontal.theme-boxed .footer-container-wrap,
	.menu-is-horizontal.theme-boxed #copyright {
		width: auto;
	}

	.container,
	.entry-title,
	.fullpage-item,
	.footer-container,
	.outer-header-wrap,
	.portfolio-container,
	.portfolio-header-wrap,
	.top-bar-wrap-fullwidth,
	.page-template-template-blank-php .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.page-template-template-fullpage .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .mtheme-supercell,
	.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .entry-portfolio-content,
	.always-center,
	.page-template-template-blank-php .mtheme-supercell.boxed-column.divided-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 270px;
		}

	.edge-to-edge .mtheme-supercell.boxed-column,
	.portfolio-header-wrap.edge-to-edge-column,
	.edge-to-edge .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.mtheme-supercell.fullwidth-column {
		width: auto;
	}


	/*********************/
	/****** Header *******/
	/*********************/

	/* Turn off menu and trigger related adjustments */
	.logo-menu-wrap {
		display: none;
	}
	.outer-header-wrap {
		border:0;
	}
	.title-container {
		padding: 35px 0;
	}
	.header-compact .title-container-wrap {
		padding-top: 0;
	}
	.container-wrapper.container-boxed {
		margin-top:0;
		margin-bottom:0;
	}
	.header-compact.header-is-off.no-title-background .container-fullwidth {
	    padding-top: 0;
	}

	/* Display Responsive Menu */
	.responsive-menu-wrap {
	    display: block;
	}
	.outer-wrap {
		display: none;
	}
	.toggle-menu-trigger,
	.header-compact .toggle-menu-trigger {
		top: 0;
	}


	.header-dark .toggle-menu-trigger span,
	.header-dark .toggle-menu-trigger span:before,
	.header-dark .toggle-menu-trigger span:after,
	.compact-on-bright .toggle-menu-trigger span,
	.compact-on-bright .toggle-menu-trigger span:before,
	.compact-on-bright .toggle-menu-trigger span:after {
		background-color:#fff;
	}

	/****************************/
	/****** Page Elements *******/
	/****************************/

	/* Hero Image */

	.hero-text-wrap .hero-title {
	    font-size: 18px;
	    line-height: 26px;
	}
	.hero-text-wrap .hero-subtitle {
		font-size: 11px;
		line-height: 14px;
	}

	/* Photo Card */
	.photocard-image-container {
		position: static;
		min-height: 500px;
	}
	.photocard-image-wrap.column-float-right,
	.photocard-image-wrap.column-float-left,
	.photocard-image-wrap,
	.photocard-image-wrap img {
		position: static;
		width: 100%;
	}
	.photocard-image-wrap.column-float-right,
	.photocard-image-wrap.column-float-left {
		width: 100%;
		float:none;
	}
	.photocard-contents-inner {
    	padding: 60px;
	}

	/* Columns */
	.mtheme-block,
	.mtheme-supercell .mtheme-block,
	.column-setter .mtheme-block,
	.column-setter .mtheme-block .mtheme-block,
	.column-half,
	.mtheme-supercell .span2,
	.mtheme-supercell .span3,
	.mtheme-supercell .span4,
	.mtheme-supercell .span5,
	.mtheme-supercell .span6,
	.mtheme-supercell .span7,
	.mtheme-supercell .span8,
	.mtheme-supercell .span9,
	.mtheme-supercell .span10,
	.mtheme-supercell .span11,
	.mtheme-supercell .span12 {
		width: 100%;
		float:none;
	}
	.mtheme-following-cell,
	.column-setter.following-column {
		margin-left: 0;
	}

	.service-content,
	.service-item {
		margin-bottom: 30px;
	}


	/* Footer */

	#footer .footer-column {
		width: auto;
		float: none;
		margin: 0;
	}
	#footer .description,
	#footer .textwidget {
		margin-right: 0;
	}

	/* Sidebar */
	.sidebar-wrap, .sidebar-wrap-single {
		width: auto;
		float:none;
		margin-top:40px;
	}

	.grid-list-portfolio-related ul li {
		width: 10%;
	}


	/* Two Column */
	.two-column,
	.edge-to-edge .portfolio-header-left.two-column {
		width: auto;
		float:none;
	}

	/* Blog */
	.blog-details-section {
	    float: none;
	    width: auto;
	    margin-bottom: 20px;
	}
	.blog-content-section {
		float: none;
		width: auto;
	}

	/* Tabs */
	.ui-tabs-nav li {
		width: 100% !important;
	}
	.ui-tabs-vertical ul {
		width: 100%;
		float: none;
	}

	/* Portfolio Grids */

	.ajax-gallery-navigation {
		float:none;
		margin-bottom: 20px;
	}

	.gridblock-two .gridblock-element,
	.gridblock-three .gridblock-element,
	.gridblock-four .gridblock-element {
		width: 100%;
		margin: 0;
	}
	.thumbnail-gutter-nospace.gridblock-two .gridblock-element,
	.thumbnail-gutter-nospace.gridblock-three .gridblock-element,
	.thumbnail-gutter-nospace.gridblock-four .gridblock-element,
	.portfolio-gutter-nospace.gridblock-two .gridblock-element,
	.portfolio-gutter-nospace.gridblock-three .gridblock-element,
	.portfolio-gutter-nospace.gridblock-four .gridblock-element {
		width: 100%;
		margin: 0;
	}

	.gridblock-links-wrap {
    	bottom: 30%;
	}

	/* Portfolio Details */

	.portfolio-nav-wrap {
		position: static;
		padding-top:20px;
		padding-bottom:20px;
	}
	.portfolio-nav {
		right: 30px;
	}

	.portfolio-end-block {
		margin-right: 0;
		margin-left: 0;
	}

	/* Metro Style */

	.gridblock-metro .gridblock-element,
	.gridblock-metro .gridblock-cell-following-cell {
	    width: 50%;
	}

	/* Sticky Sidebar */
	.portfolio-header-right {
		width: auto;
		margin-top: 30px;
	}

	.menu-is-horizontal .mtheme-modular-column,
	.menu-is-vertical .mtheme-modular-column {
		margin-left:0 !important;
		margin-right:0 !important;
	}

	/* Callout Button */
	.callout .first-half,
	.callout .second-half {
		width: auto;
		float: none;
		position: static;
		margin: 0;
		text-align: center;
	}
	.callout .second-half {
		margin-top:20px;
		text-align: center;
	}
	.callout .callout-button {
		float: none;
	}

	/*	Section Heading */
	.section-heading {
		width: 90% !important;
	}

	#s {
		width:81.8%;
	}


	/* TimeLine */
	.blog-timeline-month-wrap {
		width: auto;
	}
	#gridblock-timeline .blog-grid-element {
		float: none;
		margin:0;
		width: 100%;
		margin-bottom: 30px;
	}
	#gridblock-timeline .blog-grid-element-left .blog-grid-element-inner:before,
	#gridblock-timeline .blog-grid-element-right .blog-grid-element-inner::before,
	#gridblock-timeline .blog-grid-element-left:before,
	#gridblock-timeline .blog-grid-element-right:before,
	.gridblock-timeline-block:before {
		border:0;
		background: none;
		content: '';
		position: static;
	}

	/* WooCommerce */
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product,
	.woocommerce .cart-collaterals .cross-sells ul.products li,
	.woocommerce-page .cart-collaterals .cross-sells ul.products li,
	.woocommerce .related ul li.product,
	.woocommerce .related ul.products li.product,
	.woocommerce .upsells.products ul li.product,
	.woocommerce .upsells.products ul.products li.product,
	.woocommerce-page .related ul li.product,
	.woocommerce-page .related ul.products li.product,
	.woocommerce-page .upsells.products ul li.product,
	.woocommerce-page .upsells.products ul.products li.product {
	    width: 100%;
	}
	.mtheme-woo-order-selected {
		width: 240px;
	}
	.mtheme-woo-order-list ul {
		width: 254px;
	}

	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.woocommerce .woocommerce-single-image-wrap {
		width: 100%;
		float:none;
	}

	.woocommerce .product-name,
	.woocommerce .product-name a {
		padding-left: 10px;
		line-height: 12px;
	}
	.woocommerce .coupon input,
	.woocommerce .coupon input.button {
		width: 100%;
		float:none !important;
		margin-top:10px;
	}
	.woocommerce .col2-set .col-1,
	.woocommerce-page .col2-set .col-2 {
		width: auto;
	}
	.woocommerce-checkout .order_details {
		padding:20px;
	}
	.woocommerce .order_details li {
		float:none;
		border:0;
		margin-top: 20px;
	}

	/* Gravity forms */
	.entry-content .gform_wrapper .top_label input.medium,
	.entry-content .gform_wrapper .top_label select.medium {
	    width: 90%;
	}
	.entry-content .gform_wrapper .ginput_complex input[type="text"],
	.entry-content .gform_wrapper .ginput_complex input[type="url"],
	.entry-content .gform_wrapper .ginput_complex input[type="email"],
	.entry-content .gform_wrapper .ginput_complex input[type="tel"],
	.entry-content .gform_wrapper .ginput_complex input[type="number"],
	.entry-content .gform_wrapper .ginput_complex input[type="password"] {
	    width: 85%;
	}

	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="text"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="url"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="email"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="tel"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="number"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="password"],
	.entry-content .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_last_name span.name_last input[type="text"] {
		width: 85% !important
	}
	.entry-content .gform_wrapper .gfield_list input {
		width: 93%;
	}

	/* Demo panel off */
	#demopanel {
		display: none;
	}
	#wpadminbar {
		position: fixed;
	}

	.fotorama__nav-wrap {
		display: none !important;
	}

	.mobile-menu-onwhite  .toggle-menu-trigger span,
	.mobile-menu-onwhite  .toggle-menu-trigger span:before,
	.mobile-menu-onwhite  .toggle-menu-trigger span:after {
	    background-color: #000000;
	}

	.entry-title.bold-centered h1 {
		font-size: 22px;
		letter-spacing: 4px;
		line-height: 28px;
	}

}


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	.menu-is-vertical.theme-boxed .container-boxed,
	.menu-is-vertical.theme-boxed .top-bar-content,
	.menu-is-vertical.theme-boxed .top-bar-wrap-boxed,
	.menu-is-vertical.theme-boxed .footer-container-wrap,
	.menu-is-vertical.theme-boxed #copyright {
		width: auto;
	}

	.menu-is-horizontal.theme-boxed .container-boxed,
	.menu-is-horizontal.theme-boxed .top-bar-content,
	.menu-is-horizontal.theme-boxed .top-bar-wrap-boxed,
	.menu-is-horizontal.theme-boxed .footer-container-wrap,
	.menu-is-horizontal.theme-boxed #copyright {
		width: auto;
	}

	.container,
	.entry-title,
	.fullpage-item,
	.footer-container,
	.outer-header-wrap,
	.portfolio-container,
	.portfolio-header-wrap,
	.top-bar-wrap-fullwidth,
	.page-template-template-blank-php .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.page-template-template-fullpage .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .mtheme-supercell,
	.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .entry-portfolio-content,
	.always-center,
	.page-template-template-blank-php .mtheme-supercell.boxed-column.divided-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 460px;
		}

	.edge-to-edge .mtheme-supercell.boxed-column,
	.portfolio-header-wrap.edge-to-edge-column,
	.edge-to-edge .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.mtheme-supercell.fullwidth-column {
		width: auto;
	}


	/*********************/
	/****** Header *******/
	/*********************/

	/* Turn off menu and trigger related adjustments */
	.logo-menu-wrap {
		display: none;
	}
	.outer-header-wrap {
		border:0;
	}
	.title-container {
		padding: 35px 0;
	}
	.header-compact .title-container-wrap {
		padding-top: 0;
	}
	.container-wrapper.container-boxed {
		margin-top:0;
		margin-bottom:0;
	}

	/* Display Responsive Menu */
	.responsive-menu-wrap {
	    display: block;
	}
	.outer-wrap {
		display: none;
	}
	.toggle-menu-trigger,
	.header-compact .toggle-menu-trigger {
		top: 0;
	}
	.header-compact.header-is-off.no-title-background .container-fullwidth {
	    padding-top: 0;
	}


	.header-dark .toggle-menu-trigger span,
	.header-dark .toggle-menu-trigger span:before,
	.header-dark .toggle-menu-trigger span:after,
	.compact-on-bright .toggle-menu-trigger span,
	.compact-on-bright .toggle-menu-trigger span:before,
	.compact-on-bright .toggle-menu-trigger span:after {
		background-color:#fff;
	}

	/****************************/
	/****** Page Elements *******/
	/****************************/

	/* Hero Image */

	.hero-text-wrap .hero-title {
	    font-size: 18px;
	    line-height: 26px;
	}
	.hero-text-wrap .hero-subtitle {
		font-size: 11px;
		line-height: 14px;
	}

	/* Photo Card */
	.photocard-image-container {
		position: static;
		min-height: 500px;
	}
	.photocard-image-wrap.column-float-right,
	.photocard-image-wrap.column-float-left,
	.photocard-image-wrap,
	.photocard-image-wrap img {
		position: static;
		width: 100%;
	}
	.photocard-image-wrap.column-float-right,
	.photocard-image-wrap.column-float-left {
		width: 100%;
		float:none;
	}
	.photocard-contents-inner {
    	padding: 60px;
	}

	/* Columns */
	.mtheme-block,
	.mtheme-supercell .mtheme-block,
	.column-setter .mtheme-block,
	.column-setter .mtheme-block .mtheme-block,
	.column-half,
	.mtheme-supercell .span2,
	.mtheme-supercell .span3,
	.mtheme-supercell .span4,
	.mtheme-supercell .span5,
	.mtheme-supercell .span6,
	.mtheme-supercell .span7,
	.mtheme-supercell .span8,
	.mtheme-supercell .span9,
	.mtheme-supercell .span10,
	.mtheme-supercell .span11,
	.mtheme-supercell .span12 {
		width: 100%;
		float:none;
	}
	.mtheme-following-cell,
	.column-setter.following-column {
		margin-left: 0;
	}

	.service-content,
	.service-item {
		margin-bottom: 30px;
	}


	/* Footer */

	#footer .footer-column {
		width: auto;
		float: none;
		margin: 0;
	}
	#footer .description,
	#footer .textwidget {
		margin-right: 0;
	}

	/* Sidebar */
	.sidebar-wrap, .sidebar-wrap-single {
		width: auto;
		float:none;
		margin-top: 40px;
	}

	.grid-list-portfolio-related ul li {
		width: 10%;
	}
	
	/* Two Column */
	.two-column,
	.edge-to-edge .portfolio-header-left.two-column {
		width: auto;
		float:none;
	}

	/* Blog */
	.blog-details-section {
	    float: none;
	    width: auto;
	    margin-bottom: 20px;
	}
	.blog-content-section {
		float: none;
		width: auto;
	}

	/* Tabs */
	.ui-tabs-nav li {
		width: 100% !important;
	}
	.ui-tabs-vertical ul {
		width: 100%;
		float: none;
	}

	/* Portfolio Grids */

	.ajax-gallery-navigation {
		float:none;
		margin-bottom: 20px;
	}

	.gridblock-two .gridblock-element,
	.gridblock-three .gridblock-element,
	.gridblock-four .gridblock-element {
		width: 100%;
		margin: 0;
	}
	.thumbnail-gutter-nospace.gridblock-two .gridblock-element,
	.thumbnail-gutter-nospace.gridblock-three .gridblock-element,
	.thumbnail-gutter-nospace.gridblock-four .gridblock-element,
	.portfolio-gutter-nospace.gridblock-two .gridblock-element,
	.portfolio-gutter-nospace.gridblock-three .gridblock-element,
	.portfolio-gutter-nospace.gridblock-four .gridblock-element {
		width: 100%;
		margin: 0;
	}

	.gridblock-links-wrap {
    	bottom: 30%;
	}

	/* Portfolio Details */

	.portfolio-nav-wrap {
		position: static;
		padding-top:20px;
		padding-bottom:20px;
	}
	.portfolio-nav {
		right: 30px;
	}

	.portfolio-end-block {
		margin-right: 40px;
		margin-left: 40px;
	}

	/* Metro Style */

	.gridblock-metro .gridblock-element,
	.gridblock-metro .gridblock-cell-following-cell {
	    width: 50%;
	}

	/* Sticky Sidebar */
	.portfolio-header-right {
		width: auto;
		margin-top: 30px;
	}

	.menu-is-horizontal .mtheme-modular-column,
	.menu-is-vertical .mtheme-modular-column {
		margin-left:0 !important;
		margin-right:0 !important;
	}

	/* Callout Button */
	.callout .first-half,
	.callout .second-half {
		width: auto;
		float: none;
		position: static;
		margin: 0;
		text-align: center;
	}
	.callout .second-half {
		margin-top:20px;
		text-align: center;
	}
	.callout .callout-button {
		float: none;
	}

	/*	Section Heading */
	.section-heading {
		width: 90% !important;
	}

	#s {
		width:89.8%;
	}

	/* TimeLine */
	.blog-timeline-month-wrap {
		width: auto;
	}
	#gridblock-timeline .blog-grid-element {
		float: none;
		margin:0;
		width: 100%;
		margin-bottom: 30px;
	}
	#gridblock-timeline .blog-grid-element-left .blog-grid-element-inner:before,
	#gridblock-timeline .blog-grid-element-right .blog-grid-element-inner::before,
	#gridblock-timeline .blog-grid-element-left:before,
	#gridblock-timeline .blog-grid-element-right:before,
	.gridblock-timeline-block:before {
		border:0;
		background: none;
		content: '';
		position: static;
	}

	/* WooCommerce */
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product,
	.woocommerce .cart-collaterals .cross-sells ul.products li,
	.woocommerce-page .cart-collaterals .cross-sells ul.products li,
	.woocommerce .related ul li.product,
	.woocommerce .related ul.products li.product,
	.woocommerce .upsells.products ul li.product,
	.woocommerce .upsells.products ul.products li.product,
	.woocommerce-page .related ul li.product,
	.woocommerce-page .related ul.products li.product,
	.woocommerce-page .upsells.products ul li.product,
	.woocommerce-page .upsells.products ul.products li.product {
	    margin: 0 2.5% 60px 0;
	    width: 47.5%;
	}
	.mtheme-woo-order-selected {
		width: 240px;
	}
	.mtheme-woo-order-list ul {
		width: 254px;
	}

	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.woocommerce .woocommerce-single-image-wrap {
		width: 100%;
		float:none;
	}

	.woocommerce .product-name,
	.woocommerce .product-name a {
		padding-left: 10px;
		line-height: 12px;
	}
	.woocommerce .coupon input,
	.woocommerce .coupon input.button {
		width: 100%;
		float:none !important;
		margin-top:10px;
	}
	.woocommerce .col2-set .col-1,
	.woocommerce-page .col2-set .col-2 {
		width: auto;
	}
	.woocommerce-checkout .order_details {
		padding:20px;
	}
	.woocommerce-checkout .order_details {
		padding:20px;
	}
	.woocommerce .order_details li {
		float:none;
		border:0;
		margin-top: 20px;
	}

	/* Gravity forms */
	.entry-content .gform_wrapper .top_label input.medium,
	.entry-content .gform_wrapper .top_label select.medium {
	    width: 90%;
	}
	.entry-content .gform_wrapper .ginput_complex input[type="text"],
	.entry-content .gform_wrapper .ginput_complex input[type="url"],
	.entry-content .gform_wrapper .ginput_complex input[type="email"],
	.entry-content .gform_wrapper .ginput_complex input[type="tel"],
	.entry-content .gform_wrapper .ginput_complex input[type="number"],
	.entry-content .gform_wrapper .ginput_complex input[type="password"] {
	    width: 90%;
	}

	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="text"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="url"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="email"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="tel"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="number"],
	.entry-content .gform_wrapper .ginput_complex .ginput_right input[type="password"],
	.entry-content .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_last_name span.name_last input[type="text"] {
		width: 90% !important
	}
	.entry-content .gform_wrapper .gfield_list input {
		width: 93%;
	}

	/* Demo panel off */
	#demopanel {
		display: none;
	}

	.fotorama__nav-wrap {
		display: none !important;
	}

	.mobile-menu-onwhite  .toggle-menu-trigger span,
	.mobile-menu-onwhite  .toggle-menu-trigger span:before,
	.mobile-menu-onwhite  .toggle-menu-trigger span:after {
	    background-color: #000000;
	}

	.entry-title.bold-centered h1 {
		font-size: 22px;
		letter-spacing: 4px;
		line-height: 28px;
	}

}


/* iPhone 5 (Portrait) */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

	.container,
	.entry-title,
	.fullpage-item,
	.footer-container,
	.outer-header-wrap,
	.portfolio-container,
	.portfolio-header-wrap,
	.top-bar-wrap-fullwidth,
	.page-template-template-blank-php .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.page-template-template-fullpage .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .mtheme-supercell,
	.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .entry-portfolio-content,
	.always-center,
	.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 295px;
		}

	.edge-to-edge .mtheme-supercell.boxed-column,
	.portfolio-header-wrap.edge-to-edge-column,
	.edge-to-edge .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.mtheme-supercell.fullwidth-column {
		width: auto;
	}

}

/* iPhone 6 Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {

	.container,
	.entry-title,
	.fullpage-item,
	.footer-container,
	.outer-header-wrap,
	.portfolio-container,
	.portfolio-header-wrap,
	.top-bar-wrap-fullwidth,
	.page-template-template-blank-php .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,	
	.page-template-template-fullpage .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .mtheme-supercell,
	.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .entry-portfolio-content,
	.always-center,
	.page-template-template-blank-php .mtheme-supercell.boxed-column.divided-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 345px;
		}

	.edge-to-edge .mtheme-supercell.boxed-column,
	.portfolio-header-wrap.edge-to-edge-column,
	.edge-to-edge .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.mtheme-supercell.fullwidth-column {
		width: auto;
	}

}

/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {
	.container,
	.entry-title,
	.fullpage-item,
	.footer-container,
	.outer-header-wrap,
	.portfolio-container,
	.portfolio-header-wrap,
	.top-bar-wrap-fullwidth,
	.page-template-template-blank-php .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.page-template-template-fullpage .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .mtheme-supercell,
	.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .entry-portfolio-content,
	.always-center,
	.page-template-template-blank-php .mtheme-supercell.boxed-column.divided-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 620px;
		}

	.edge-to-edge .mtheme-supercell.boxed-column,
	.portfolio-header-wrap.edge-to-edge-column,
	.edge-to-edge .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.mtheme-supercell.fullwidth-column {
		width: auto;
	}

}

/* iPhone 6+ Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {

	.menu-is-horizontal.theme-boxed .container-boxed,
	.menu-is-horizontal.theme-boxed .top-bar-content,
	.menu-is-horizontal.theme-boxed .top-bar-wrap-boxed {
		width: auto;
	}

	.container,
	.entry-title,
	.fullpage-item,
	.footer-container,
	.outer-header-wrap,
	.portfolio-container,
	.portfolio-header-wrap,
	.top-bar-wrap-fullwidth,
	.page-template-template-blank-php .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.page-template-template-fullpage .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .mtheme-supercell,
	.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .entry-portfolio-content,
	.always-center,
	.page-template-template-blank-php .mtheme-supercell.boxed-column.divided-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 380px;
		}

	.edge-to-edge .mtheme-supercell.boxed-column,
	.portfolio-header-wrap.edge-to-edge-column,
	.edge-to-edge .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.mtheme-supercell.fullwidth-column {
		width: auto;
	}

}

/* iPhone 6+ landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {

	.menu-is-horizontal.theme-boxed .container-boxed,
	.menu-is-horizontal.theme-boxed .top-bar-content,
	.menu-is-horizontal.theme-boxed .top-bar-wrap-boxed {
		width: auto;
	}

	.container,
	.entry-title,
	.fullpage-item,
	.footer-container,
	.outer-header-wrap,
	.portfolio-container,
	.portfolio-header-wrap,
	.top-bar-wrap-fullwidth,
	.page-template-template-blank-php .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.page-template-template-fullpage .mtheme-supercell,
	.page-template-template-fullpage .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .mtheme-supercell,
	.edge-to-edge .mtheme-supercell.boxed-column .first-column.span12 .mtheme-cell-wrap,
	.edge-to-edge .entry-portfolio-content,
	.always-center,
	.page-template-template-blank-php .mtheme-supercell.boxed-column.divided-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column.divided-column,
	.edge-to-edge .mtheme-supercell.boxed-column.divided-column {
		width: 700px;
		}

	.edge-to-edge .mtheme-supercell.boxed-column,
	.portfolio-header-wrap.edge-to-edge-column,
	.edge-to-edge .mtheme-supercell,
	.page-template-template-blank-php .mtheme-supercell.boxed-column,
	.page-template-template-fullpage .mtheme-supercell.boxed-column {
		width: auto;
	}
	.mtheme-supercell.fullwidth-column {
		width: auto;
	}

}
