body {
	direction: rtl;
	unicode-bidi: embed;
}

.wpml-lang-selector-wrap #lang_sel {
	margin-left:0;
	margin-right: 50px;
}
.homemenu .top-menu ul li {
	text-align: right;
}
.homemenu .top-menu li {
	float: right;
}
.sf-arrows .sf-with-ul:after {
    left: 10px;
    right:auto;
    }
#recentposts_list .recent_thumbnail,
#popularposts_list .popular_thumbnail {
	float:right;
	margin-right:0;
	margin-left:10px;
}

.sidebar-widget ul#recentcomments li {
	background-position: right 10px;
	padding-right: 20px;
	padding-left: 0;
}

.jp-title li {
	text-align: left;
	margin-left: 20px;
}
h3.jplayer-title {
	text-align: left;
}

.comment-reply-title small {
	margin-left:0;
}
ol.commentlist li.bypostauthor .avatar {
    float: right;
    margin-left: 20px;
}

.post-meta-time,
.post-meta-comment {
	display: inline-block;
}

#respond #commentform textarea, #respond #commentform input {
	margin-right: 0;
	margin-left: 0;
}
.logged-in-as {
	float:none;
}

.gridblock-four .gridblock-element {
    margin-right: 0;
    margin-left: 1%;
    }
.project-skills ul li {
	margin-left: 10px;
	margin-right: 0;
}
.entry-content .checklist .icon-li {
    color: #7CB811;
    margin-left: 10px;
    margin-right: 0;
}

.portfolio-nav-wrap {
	text-align: left;
}
.portfolio-nav-item a {
	margin-right: 20px;
	margin-left: 0;
}

.client-say {
	text-align: right;
}
.summary-date {
    margin-right: 10px;
    margin-left: 0;
}

.ui-tabs-vertical ul {
	float: right;
}
.ui-accordion-header-icon {
	right: auto;
	left: 0;
}
.gridblock-filter-select-wrap {
	text-align: left;
}
#gridblock-filters {
	left:0;
}
.gridblock-four .gridblock-element,
.gridblock-three .gridblock-element,
.gridblock-two .gridblock-element,
.photowall-item {
	float: right;
}
.gridblock-displayed .gridblock-selected-icon {
    right: 50%;
    margin-right: -40px;
}
.ajax-gridblock-description {
    margin-right: 0;
    margin-left: 20px;
}
a.ajax-prev, a.ajax-next, a.ajax-hide {
	float:left;
}
a.ajax-next {
	right: -30px;
}
a.ajax-prev {
	right: 30px;
}

.column-gridblock-icon {
	right:auto;
}
.slideshow-box-comment {
	margin-left: 15px;
	margin-right: 0;
}
.slideshow-box-categories span {
	margin-left: 10px;
	margin-right: 0;
}

.isotope .isotope-item {
  -webkit-transition-property: right, top, -webkit-transform, opacity;
     -moz-transition-property: right, top, -moz-transform, opacity;
      -ms-transition-property: right, top, -ms-transform, opacity;
       -o-transition-property: right, top, -o-transform, opacity;
          transition-property: right, top, transform, opacity;
}

.entry-content .mtheme-dropcap {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}
.entry-content .noticebox i {
	float:right;
	margin-left:20px;
}
.close_notice {
	float: left;
	left:-10px;
	right:auto;
}

.portfolio-nav-wrap,
.owl-carousel {
	direction: ltr;
}
.portfolio-nav-wrap {
	left: 50px;
	right: auto;
}
.portfolio-share .share-indicate {
	right: 10px;
	left: auto;
}
#lang_sel a,
#lang_sel a:visited {
	padding-right:20px;
	padding-left: 0;
}


.sidebar-widget ul#recentcomments li::before {
    right: 2px;
    left: auto;
}
.sidebar-widget ul li.cat-item::before {
    right: 2px;
    left: auto;
    content: "\f104";
}
.sidebar-widget ul li.cat-item {
    padding-right: 20px;
    padding-left: 0;
}

ol.commentlist li.comment.bypostauthor .avatar {
    float: right;
}
#commentform .logged-in-as {
    text-align: right;
}

#gridblock-timeline .blog-grid-element-left .blog-grid-element-inner:before {
    left: -13.5%;
    right: auto;
}
#gridblock-timeline .blog-grid-element-left:before {
    left: -14%;
    right: auto;
}
.nosidebar #gridblock-timeline .blog-grid-element-left:before {
    left: -13.4%;
    right: auto;
}
#gridblock-timeline .blog-grid-element-right:before {
    right: -14%;
    left: auto;
}
.nosidebar #gridblock-timeline .blog-grid-element-right:before {
    right: -13%;
    left: auto;
}
#gridblock-timeline .blog-grid-element-right .blog-grid-element-inner:before {
	right: -13%;
	left: auto;
}

.blog-details-section {
    float: right;
    }
.blog-details-section-inner {
    border-right: 3px solid #24bee8;
    border-left: 0;
	}
.bloglist-small .post-format-media {
    float: right;
    margin-left: 40px;
    margin-right: 0;
}

#footer .contact_address_block li, .sidebar-widget .contact_address_block li {
	padding-right: 20px;
	padding-left: 0;
}
.contact_address_block .contact_phone:before,
.contact_address_block .contact_mobile:before,
.contact_address_block .contact_email:before,
.contact_address_block .contact_name:before {
	left: auto;
	right: -20px;
}

.wpcf7-form,
.wpcf7-form input,
.wpcf7-form textarea,
#header-searchform #hs {
	text-align: right;
}
.entry-content .ui-tabs .ui-tabs-nav li {
	float: right;
}
.entry-content .ui-tabs-vertical ul.ui-tabs-nav {
	float: right;
}
.entry-content .ui-tabs-vertical .ui-tabs-nav li a {
	text-align: right;
}
.entry-content .ui-tabs-vertical {
	border-width: 1px 0 1px 1px;
	}
.ui-accordion-header-icon:after {
	left: 13px;
	right: auto;
}
.entry-content .toggle-shortcode {
	float:right;
	padding: 0 30px 0 0;
}
.entry-content .toggle-shortcode:after {
	right: 0;
	left: auto;
}

.woocommerce .entry-title.float-left {
    float: right;
}
.woocommerce .entry-title.float-right {
    float: left;
}

.woocommerce span.onsale, .woocommerce-page span.onsale {
	right: 6px;
	left: auto;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    float: right;
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	float: left;
}
.woocommerce .flex-viewport {
	direction:ltr;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    float: right;
    }
.woocommerce #content div.product form.cart .button,
.woocommerce div.product form.cart .button,
.woocommerce-page #content div.product form.cart .button,
.woocommerce-page div.product form.cart .button {
	float:right;
}
.woocommerce #content div.product form.cart div.quantity,
.woocommerce div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity {
	float:right;
}
.woocommerce div.product form.cart div.quantity,
.woocommerce #content div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity {
    margin-left: 30px !important;
    margin-right: 0 !important;
}
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
    float: right;
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
    float: left;
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	padding: 40px 0 40px 40px;
	float:right;
}
.woocommerce .woocommerce-product-rating .star-rating {
	float: right;
}
.woocommerce-product-rating .woocommerce-review-link {
	margin-right: 10px;
}
.woocommerce ul.portfolio-share {
	text-align: right;
}

.mtheme-woo-order-list ul {
	left:0;
}

.responsive-mobile-menu #mobile-searchform {
	text-align: left;
}
.responsive-mobile-menu #mobile-searchbutton {
	left: 42px;
	right: auto;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.woocommerce .cart-collaterals .cross-sells ul.products li,
.woocommerce-page .cart-collaterals .cross-sells ul.products li,
.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product {
    margin: 0 0 60px 2.5%;
}
.woocommerce ul.products li.product.last, .woocommerce-page ul.products li.product.last {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
	margin-right: 26px;
	margin-left: auto;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    text-align: right !important;
}