.paneloptions { display:block;}
.opendemo { display:block;}
.closedemo { display:none;}
#opendemo { opacity:1;}


.demo_text { font-size:11px; line-height: 12px; }
.demo_link_section { margin: 10px 0 0 0; }
.demolink { font-size:10px; color:#111 !important; display:inline;}

#demopanel {
	width:215px;
	position:fixed;
	top:0;
	height: 100%;
	right:-275px;
	z-index:800;
	margin: 0;
	padding:28px;
	background: #404040;
	}
.demo-sep-top {
	margin-top:20px;
}
.demo-selector {
	display: inline-block;
	margin-left: 1px;
}
.demo-selector-centered {
	display: block;
}
.demo-selector-icon {
}
.demo-selector:hover .demo-selector-title {
	background:#000;
	color:#fff;
}
.demo-main-title {
	color: #fff;
	font-size: 35px;
	font-weight: 800;
	letter-spacing: -0.8px;
	line-height: 38px;
	margin-bottom: 40px;
	text-align: center;
	text-transform: uppercase;
}
.demo-sub-title {
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1.2px;
	line-height: 38px;
	margin-top: 40px;
	text-align: center;
	text-transform: uppercase;
}
.demo-selector-title {
	background: #565656;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 400;
	margin-top: -6px;
	text-align: center;
}
.demo-patterns {
	text-align: center;
}
#demopanel .demo-content {
	color:#fff;
	text-align:center;
}
	
#demopanel .demo_background { margin: 10px 0 0 0; }
	
#demopanel .demo_toggle { 
	position:absolute;
	left:-60px;
	top:250px;
	width: 60px;
	height: 60px;
	cursor:pointer;
	background-color: #000;
	background-image: url(images/wheel_dashboard.png);
	background-position: center center;
	background-repeat: no-repeat;

	-webkit-transition: -webkit-transform 0.1s, all 0.1s;
	-moz-transition: -moz-transform 0.1s, all 0.1s;
	transition: transform 0.1s, all 0.1s;
}
#demopanel .demo_toggle:hover {
	background-color: #333;
}
	
#demopanel a {color:#7d7d7d; text-decoration:none;}
#demopanel a:hover {color:#EC3939; text-decoration:none;}

#demopanel h2 { font-size:18px; font-weight:bold; color:#fff; margin:0 0 20px 0;padding:0;}		
#demopanel h3 { font-size:14px; letter-spacing:-1p; font-weight:normal; color:#fff; margin:10px 0 5px 0;padding:0;}
#demopanel h4 { font-size:12px; font-weight:bold; color:#fff; margin:0;padding:0;}

#demopanel ul.default { list-style:none; font-size:11px; margin:10px 0 0 0;padding:0;}
#demopanel ul.skin { list-style:none; font-size:11px; width:50%; float:left; margin:10px 0 0 0;padding:0;}
#demopanel ul.default li, ul.skin li {  letter-spacing:0; border-bottom:1px dotted #B9B9B9; padding: 5px 0 5px 0;}

#demopanel #demo_bg_color { margin: 0 0 0 60px; border:2px solid #eee;height:20px;width:60px; font-size:10px; letter-spacing: 0; padding: 4px;font-weight:normal;  }
#demopanel #demo_header_color,#demopanel  #demo_menu_color{ margin: 0; border:2px solid #eee;height:20px;width:60px; font-size:10px; letter-spacing: 0; padding: 4px;font-weight:normal; font-family:verdana; }
#demopanel .selectmenu { margin: 0; width: 90%; font-size:10px; letter-spacing: 0; padding: 4px;font-weight:normal; font-family:verdana; }
#demopanel .selectmenu option { line-height: 20px; padding: 0 0 0 4px; }

#demopanel #demobutton { padding:2px; width:90%; margin:20px 0 0 0; font-size:10px; letter-spacing: 0; padding: 4px;font-weight:normal; font-family:verdana;}

#demopanel .colorselector_big { margin: 0; border:2px solid #eee;height:10px;width:90px; font-size:10px; letter-spacing: 0; padding: 4px;font-weight:normal; font-family:verdana;}
#demopanel .colorselector_small { margin: 10px 0 0 0; border:2px solid #444; width:60px; height: 20px;}



#demopanel .background_pattern, #demopanel .shade_pattern { display:block; padding:6px; width:6px; height:6px; border:1px solid #bbbbbb; float:left; margin: 0 5px 5px 0;}
#demopanel .background_pattern:hover, #demopanel .shade_pattern:hover {display:block; border:1px solid #7d7d7d;}
#demopanel .background_pattern:focus, #demopanel .shade_pattern:focus {display:block; border:1px solid #000;}


#demopanel .demo_pattern {
	border: 2px solid #FFFFFF;
	display: inline-block;
	height: 25px;
	margin: 0;
	padding: 1px;
	width: 34px;
}
#demopanel .demo-selector-colors {
	margin-top:20px;

	-webkit-transition: -webkit-transform 0.1s, all 0.1s;
	-moz-transition: -moz-transform 0.1s, all 0.1s;
	transition: transform 0.1s, all 0.1s;
	margin-left: 5px;
}
#demopanel .demo-color a{
	border: 1px solid rgba(255,255,255,0.2);
	display: block;
	float: left;
	height: 28px;
	margin: 2px;
	width: 28px;
}
#demopanel .demo-color a:hover {
	border: 1px solid rgba(255,255,255,0.5);
}
#demopanel .demo-color-default a {
	background:#ff6f52;
}
#demopanel .demo-color-blue a {
	background:#34AADC;
}
#demopanel .demo-color-red a {
	background:#FF2C55;
}
#demopanel .demo-color-green a {
	background:#40B89A;
}
#demopanel .demo-color-purple a {
	background:#5855D6;
}
#demopanel .demo-color-pink a {
	background:#FC1D9C;
}

#demopanel .demo-selector-icon  {
	border:1px solid rgba(255,255,255,0.2);
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 18px;
    height: 80px;
    line-height: 75px;
    text-align: center;
    width: 102px;
	-webkit-transition: -webkit-transform 0.1s, all 0.1s;
	-moz-transition: -moz-transform 0.1s, all 0.1s;
	transition: transform 0.1s, all 0.1s;
}
#demopanel .demo-selector-center{
	margin: 0 auto;
}
#demopanel .demo-selector a:hover .demo-selector-icon {
	opacity: 1;
	background-color:#FF3F20;
	border:1px solid rgba(0,0,0,0.01);
}

.demo-selector-fullwidth.demo-active-fullwidth,
.demo-selector-boxed.demo-active-boxed,
.demo-selector-horzontal-menu.demo-active-horizontal,
.demo-selector-vertical-menu.demo-active-vertical,
.demo-selector-background1.demo-active-1,
.demo-selector-background2.demo-active-2,
.demo-selector-background3.demo-active-3 {
	background-color:#FF3F20;
	border:1px solid rgba(0,0,0,0.01);
}

.demo-selector-label {
	color: #FFFFFF;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding-top:10px;
    margin-bottom: 8px;
}
