embed, iframe, object, video {
}
.mejs-container {
    background: none repeat scroll 0 0 transparent;
    font-family: sans-serif;
    width: 100% !important;
    max-width: 100% !important;
    position: relative;
    text-align: left;
    vertical-align: top;
}
.me-plugin {
    position: absolute;
}
.mejs-embed, .mejs-embed body {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.mejs-container-fullscreen {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}
.mejs-container-fullscreen .mejs-mediaelement, .mejs-container-fullscreen video {
    height: 100%;
    width: 100%;
}
.mejs-background {
    left: 0;
    position: absolute;
    top: 0;
}
.mejs-mediaelement {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.mejs-poster {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.mejs-poster img {
    border: 0 none;
    display: block;
    height: 100%;
    padding: 0;
    width: 100%;
}
.mejs-overlay {
    left: 0;
    position: absolute;
    top: 0;
}
.mejs-overlay-play {
    cursor: pointer;
}
.mejs-overlay-button {
    background: url("../../images/mediaelements/bigplay.png") no-repeat scroll 0 0 transparent;
    height: 100px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 100px;
}
.mejs-overlay:hover .mejs-overlay-button {
    background-position: 0 -100px;
}
.mejs-overlay-loading {
    height: 80px;
    left: 50%;
    margin: -40px 0 0 -40px;
    position: absolute;
    top: 50%;
    width: 80px;
}
.mejs-overlay-loading span {
    background: url("../../images/mediaelements/loading.gif") no-repeat scroll 50% 50% #3A3C3D;
    border-radius: 40px 40px 40px 40px;
    display: block;
    height: 80px;
    width: 80px;
}
.mejs-container .mejs-controls {
    background: #4A4C4D;
    background: linear-gradient(#4A4C4D, #2B2D2D) repeat scroll 0 0 transparent;
    bottom: 0;
    height: 30px;
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
.mejs-audio .mejs-controls {
    border-radius: 0;
}
.mejs-container .mejs-controls div {
    background: url("../../images/mediaelements/sep.png") no-repeat scroll left center transparent;
    border: 0 none;
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 11px;
    height: 30px;
    line-height: 11px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 32px;
}
.mejs-controls .mejs-button button {
    background: url("../../images/mediaelements/controls.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 16px;
    line-height: 0;
    margin: 7px 7px 0 9px;
    padding: 0;
    position: absolute;
    text-decoration: none;
    width: 16px;
}
.mejs-controls .mejs-button button:focus {
    outline: 1px solid yellow;
}
.mejs-container .mejs-controls .mejs-time {
    -moz-box-sizing: content-box;
    color: #FFFFFF;
    display: block;
    height: 17px;
    overflow: hidden;
    padding: 8px 8px 5px 10px;
    text-align: center;
    width: auto;
}
.mejs-container .mejs-controls .mejs-time span {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 12px;
    width: auto;
}
.mejs-container .mejs-controls .mejs-playpause-button {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    width: 30px;
}
.mejs-controls .mejs-playpause-button button {
    margin: 7px 8px;
}
.mejs-controls .mejs-play button {
    background-position: 0 0;
}
.mejs-controls .mejs-play:hover button {
    background-position: 0 -32px;
}
.mejs-controls .mejs-pause button {
    background-position: 0 -16px;
}
.mejs-controls .mejs-pause:hover button {
    background-position: 0 -48px;
}
.mejs-controls .mejs-stop button {
    background-position: -112px 0;
}
.mejs-controls .mejs-stop:hover button {
    background-position: -112px -32px;
}
.mejs-controls div.mejs-time-rail {
    width: 200px;
}
.mejs-controls .mejs-time-rail span {
    cursor: pointer;
    display: block;
    height: 5px;
    position: absolute;
    width: 180px;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
    background: none repeat scroll 0 0 #585858;
    border-bottom: 1px solid #3D3F40;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.4) inset;
    margin: 11px 8px 0 10px;
    padding: 1px;
}
.mejs-controls .mejs-time-rail .mejs-time-buffering {
    animation: 2s linear 0s normal none infinite buffering-stripes;
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    width: 100%;
    z-index: 1;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: none repeat scroll 0 0 #464849;
    width: 0;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

    width: 0;
    z-index: 1;
}
.mejs-controls .mejs-time-rail .mejs-time-handle {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: none;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 5px;
    z-index: 1;
}
.mejs-controls .mejs-time-rail .mejs-time-float {
    background: linear-gradient(#E3E6E9, #C2C8CF) repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    color: #111111;
    display: none;
    height: 17px;
    margin-left: -18px;
    position: absolute;
    text-align: center;
    top: -26px;
    width: 36px;
}
.mejs-controls .mejs-time-rail .mejs-time-float-current {
    display: block;
    left: 0;
    margin: 3px;
    text-align: center;
    width: 30px;
}
.mejs-controls .mejs-time-rail .mejs-time-float-corner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C2C8CF transparent transparent;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 4px;
    display: block;
    height: 0;
    left: 13px;
    line-height: 0;
    position: absolute;
    top: 17px;
    width: 0;
}
.mejs-controls .mejs-fullscreen-button button {
    background-position: -32px 0;
}
.mejs-controls .mejs-unfullscreen button {
    background-position: -32px -16px;
}
.mejs-controls .mejs-volume-button {
}
.mejs-controls .mejs-mute button {
    background-position: -16px -16px;
}
.mejs-controls .mejs-mute button:hover {
    background-position: -16px -48px;
}
.mejs-controls .mejs-unmute button {
    background-position: -16px 0;
}
.mejs-controls .mejs-unmute button:hover {
    background-position: -16px -32px;
}
.mejs-controls .mejs-volume-button {
    position: relative;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider {
    background: none repeat scroll 0 0 #3A3C3D;
    border-radius: 0 0 0 0;
    display: none;
    height: 68px;
    left: 1px;
    margin: 0;
    position: absolute;
    top: -68px;
    width: 31px;
    z-index: 1;
}
.mejs-controls .mejs-volume-button:hover {
    border-radius: 0 0 4px 4px;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
    background: none repeat scroll 0 0 #262929;
    border-bottom: 1px solid #3D3F40;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.4) inset;
    height: 50px;
    left: 13px;
    margin: 0;
    padding: 1px;
    position: absolute;
    top: 8px;
    width: 5px;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

    height: 50px;
    left: 13px;
    margin: 1px;
    position: absolute;
    top: 8px;
    width: 5px;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
    background: none repeat scroll 0 0 transparent;
    height: 5px;
    left: 14px;
    margin: 0;
    position: absolute;
    top: 16px;
    width: 5px;
}
.mejs-controls div.mejs-horizontal-volume-slider {
    background: none repeat scroll 0 0 transparent;
    height: 26px;
    position: relative;
    width: 62px;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: none repeat scroll 0 0 #262929;
    border-bottom: 1px solid #3D3F40;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.4) inset;
    font-size: 1px;
    height: 5px;
    left: 0;
    margin: 0;
    padding: 1px;
    position: absolute;
    top: 11px;
    width: 50px;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

    font-size: 1px;
    height: 5px;
    left: 0;
    margin: 1px;
    padding: 0;
    position: absolute;
    top: 11px;
    width: 50px;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
    display: none;
}
.mejs-controls .mejs-captions-button {
    position: relative;
}
.mejs-controls .mejs-captions-button button {
    background-position: -48px 0;
}
.mejs-controls .mejs-captions-button:hover button {
    background-position: -48px -32px;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector {
    background: none repeat scroll 0 0 #3A3C3D;
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
    bottom: 30px;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: -10px;
    visibility: hidden;
    width: 130px;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul {
    display: block;
    list-style-type: none !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li {
    color: #FFFFFF;
    display: block;
    list-style-type: none !important;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 0;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input {
    clear: both;
    float: left;
    margin: 3px 3px 0 5px;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label {
    float: left;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 15px;
    padding: 4px 0 0;
    width: 100px;
}
.mejs-controls .mejs-captions-button .mejs-captions-translations {
    font-size: 10px;
    margin: 0 0 5px;
}
.mejs-chapters {
    left: 0;
    position: absolute;
    top: 0;
    width: 10000px;
    z-index: 1;
}
.mejs-chapters .mejs-chapter {
    background: -moz-linear-gradient(center top , rgba(74, 76, 77, 0.7), rgba(0, 0, 0, 0.7)) repeat scroll 0 0 transparent;
    border: 0 none;
    float: left;
    overflow: hidden;
    position: absolute;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block {
    border-bottom: 1px solid rgba(49, 51, 53, 0.7);
    border-right: 1px solid rgba(49, 51, 53, 0.7);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 11px;
    padding: 5px;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block-last {
    border-right: medium none;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {
    background: linear-gradient(rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6)) repeat scroll 0 0 transparent;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin: 0 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan {
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin: 3px 0 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mejs-captions-layer {
    bottom: 0;
    color: #FFFFFF;
    font-size: 12px;
    left: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
}
.mejs-captions-layer a {
    color: #FFFFFF;
    text-decoration: underline;
}
.mejs-captions-layer[lang="ar"] {
    font-size: 20px;
    font-weight: normal;
}
.mejs-captions-position {
    bottom: 15px;
    left: 0;
    position: absolute;
    width: 100%;
}
.mejs-captions-position-hover {
    bottom: 45px;
}
.mejs-captions-text {
    background: none repeat scroll 0 0 rgba(58, 60, 61, 0.8);
    border-radius: 4px 4px 4px 4px;
    padding: 5px 7px;
}
.mejs-clear {
    clear: both;
}
.me-cannotplay {
}
.me-cannotplay a {
    color: #FFFFFF;
    font-weight: bold;
}
.me-cannotplay span {
    display: block;
    padding: 15px;
}
.mejs-controls .mejs-loop-off button {
    background-position: -64px -16px;
}
.mejs-controls .mejs-loop-off:hover button {
    background-position: -64px -48px;
}
.mejs-controls .mejs-loop-on button {
    background-position: -64px 0;
}
.mejs-controls .mejs-backlight-off button {
    background-position: -80px -16px;
}
.mejs-controls .mejs-backlight-off:hover button {
    background-position: -80px -48px;
}
.mejs-controls .mejs-backlight-on button {
    background-position: -80px 0;
}
.mejs-controls .mejs-backlight-on:hover button {
    background-position: -80px -32px;
}
.mejs-controls .mejs-picturecontrols-button {
    background-position: -96px 0;
}
.mejs-controls .mejs-picturecontrols-button:hover {
    background-position: -96px -32px;
}
.mejs-contextmenu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 150px;
    z-index: 1001;
}
.mejs-contextmenu .mejs-contextmenu-separator {
    background: none repeat scroll 0 0 #333333;
    font-size: 0;
    height: 1px;
    margin: 5px 6px;
}
.mejs-contextmenu .mejs-contextmenu-item {
    color: #333333;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 12px;
    padding: 4px 6px;
}
.mejs-contextmenu .mejs-contextmenu-item:hover {
    background: none repeat scroll 0 0 #2C7C91;
    color: #FFFFFF;
}
.mejs-controls .mejs-sourcechooser-button {
    position: relative;
}
.mejs-controls .mejs-sourcechooser-button button {
    background-position: -128px 0;
}
.mejs-controls .mejs-sourcechooser-button button {
    background-position: -128px -32px;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector {
    background: none repeat scroll 0 0 #3A3C3D;
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
    bottom: 26px;
    height: 100px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: -10px;
    visibility: hidden;
    width: 130px;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul {
    display: block;
    list-style-type: none !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li {
    color: #FFFFFF;
    display: block;
    list-style-type: none !important;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 0;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input {
    clear: both;
    float: left;
    margin: 3px 3px 0 5px;
}
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li label {
    float: left;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 15px;
    padding: 4px 0 0;
    width: 100px;
}